spring:
  application:
    name: Chwi-Meet
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: dev
  output:
    ansi:
      enabled: always
  datasource:
    hikari:
      auto-commit: false
  jackson:
    serialization:
      fail-on-empty-beans: false
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
  data:
    redis:
      host: ${SPRING__REDIS__HOST}
      port: ${SPRING__REDIS__PORT}
      timeout: 10000
      password: ${SPRING__REDIS__PASSWORD}
springdoc:
  default-produces-media-type: application/json;charset=UTF-8
logging:
  level:
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE
    com.back: DEBUG
custom:
  cors:
    allowed-origins: ${CUSTOM_CORS_ALLOWED_ORIGINS}
  jwt:
    secretKey: ${CUSTOM__JWT__SECRETKEY}
  accessToken:
    expireSeconds: 1000
  refreshToken:
    expireSeconds: 1000000