spring:
  application:
    name: Chwi-Meet
  config:
    import: optional:file:.env[.properties], classpath:system-prompt.yml, classpath:user-prompt.yml
  profiles:
    active: dev
  output:
    ansi:
      enabled: always
  datasource:
    hikari:
      auto-commit: false
  jackson:
    serialization:
      fail-on-empty-beans: false
    time-zone: Asia/Seoul
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
      jdbc:
        time_zone: Asia/Seoul
    open-in-view: false
  flyway:
    enabled: true
    baseline-on-migrate: true
  mail:
    host: ${SPRING__MAIL__HOST}
    port: ${SPRING__MAIL__PORT}
    username: ${SPRING__MAIL__USERNAME}
    password: ${SPRING__MAIL__PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
  data:
    redis:
      host: ${SPRING__REDIS__HOST}
      port: ${SPRING__REDIS__PORT}
      timeout: 10000
      password: ${SPRING__REDIS__PASSWORD}
  ai:
    mcp:
      server:
        name: Chwi-meet
        type: sync
        protocol: streamable
        stdio: false
        enabled: true
    openai:
      api-key: ${SPRING__AI__OPENAI__API_KEY}
      chat:
        options:
          model: gpt-4.1-mini
      embedding:
        options:
          model: text-embedding-3-small

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 30MB
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${SPRING__SECURITY__OAUTH2__CLIENT__REGISTRATION__KAKAO__CLIENT_ID}
            client-secret: ${SPRING__SECURITY__OAUTH2__CLIENT__REGISTRATION__KAKAO__CLIENT_SECRET}
            redirect-uri: ${SPRING__SECURITY__OAUTH2__CLIENT__REGISTRATION__KAKAO__REDIRECT_URI}
            client-name: Kakao
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            scope:
              - profile_nickname
              - profile_image
              - account_email
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
springdoc:
  default-produces-media-type: application/json;charset=UTF-8
logging:
  level:
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE
    org.springframework.security: DEBUG
    com.back: DEBUG
custom:
  cors:
    allowed-origins: ${CUSTOM__CORS__ALLOWED__ORIGINS}
  jwt:
    secret-key: ${CUSTOM__JWT__SECRET_KEY}
  accessToken:
    expire-seconds: 1000
  refreshToken:
    expire-seconds: 1000000

cloud:
  aws:
    s3:
      bucket: ${CLOUD__AWS__S3__BUCKET}
    cloudfront:
      domain: ${CLOUD__AWS__CLOUDFRONT__DOMAIN}

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus